<!-- <!DOCTYPE html>
<head>
    <title>
        <%= title %>
    </title>
</head>
<body> -->
    <!-- <header>
        Page Header
    </header> -->
    <!-- <%- include('_header'); %>       // use partials 


    <h1>WelCome to Home Page </h1> -->

    <!-- <%- include('_footer'); %> -->
    <!-- <footer>
        Page footer
    </footer> -->
<!-- </body>
</html> -->

<h1>
    Home  Page
</h1>