<h1>Sign Up </h1>
<form action="users/create" method="post">
<input type="text" name="name" placeholder="Your Name" required>
<input type="email" name="emal" placeholder="Your Email" required>
<input type="password" name="pswrd" placeholder="Password" required>
<input type="password" name="conf_pswrd" placeholder="confirm Password">
<input type="submit" value="Sign Up">



</form>